@{
    ViewData["Title"] = "Innova Tel";
}

<div class="text-center">
    <h1 style="color:darkblue;font-size: 60px;"><strong>Bienvenido al Inicio de InnovaTel</strong></h1>
</div>
<br />
<br />
<div class="mx-auto" style="width:47rem">
    <table class="table table-bordered table-hover" style="border: 1px solid #444; border-collapse: collapse;">
        <thead class="bg-primary text-white fw-bold">
            <tr class="text-center">
                <td>Nro</td>
                <td>Aplicaciones</td>
            </tr>
        </thead>
        <tbody class="bg-light">
            <tr>
                <td class="text-center">1</td>
                <td class="text-center">
                    <a asp-controller="Proveedor" asp-action="SeguimientoOrdenCompra"
                       class="btn btn-outline-info w-75">Seguimiento de la Orden Compra</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>